body{
    background-color: #bbb;
}

.outer{
    margin: auto;
    width: 500px;
}

blockquote{
    border: 1px solid #fff;
    text-align: center;
    padding-top:15px;
    padding-bottom: 15px;
    margin-left:0px;
}